{% extends "/Customer/base.html" %}
{% block content %}
    <main class="flex-grow-1" style="margin-left: 80px; padding: 20px;">
        {% if cu.status=="Active" %}
        <div class="pt-4">
            <div class="container my-5">
                <div class="row g-4">
                    <div class="col">
                        <h2>Available Services</h2>
                    </div>
                </div>
                <div class="row g-4 mt-2">
                    {% for cat in categories%}
                    <div class="col-auto text-center">
                        <a class="text-decoration-none text-dark" href="/dashboard/{{cat.name}}">
                        <div class="card border-0 shadow-sm" style="width: 8.5rem;">
                            <div class="card-body d-flex justify-content-center align-items-center">
                                <img src="{{cat.img_url}}" class="img-fluid" alt="Sports" width="60" height="80" >
                            </div>
                        </div>
                        <p class="mt-2">{{cat.name}}</p>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div>
            <div class="card shadow-lg" >
                <div class="card-body">
                    <div class="row g-4">
                        <div class="col-md-4 me-auto">
                            <h2>Bookings</h2>
                        </div>
                        <div class="col ">
                            <ul class="nav nav-pills nav-fill gap-2 p-1 small bg-warning rounded-5" id="pillNav1" role="tablist" style="--bs-nav-link-color: var(--bs-dark); --bs-nav-pills-link-active-color: var(--bs-dark); --bs-nav-pills-link-active-bg: var(--bs-white); width: 50%;">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active rounded-5" id="pills-Active-bookings-tab" data-bs-toggle="pill" data-bs-target="#pills-open-bookings" type="button" role="tab" aria-controls="pills-active" aria-selected="true">Open</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link rounded-5" id="pills-Requested-bookings-tab" data-bs-toggle="pill" data-bs-target="#pills-requested-bookings" type="button" role="tab" aria-controls="pills-requested-bookings" aria-selected="false">Requested</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link rounded-5" id="pills-closed-bookings-tab" data-bs-toggle="pill" data-bs-target="#pills-closed-bookings" type="button" role="tab" aria-controls="pills-closed-bookings" aria-selected="false">Closed</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-open-bookings" role="tabpanel" aria-labelledby="pills-open-bookings-tab" tabindex="0">
                            <div class="card shadow-lg mt-3 border-0">
                            {% if paginated_open_bookings %}
                            <ul class="nav nav-tabs px-2" id="bookingsTabs" role="tablist">
                                {% for page_num in range(1, paginated_open_bookings|length + 1) %}
                                <li class="nav-item" role="presentation">
                                    <button 
                                        class="nav-link {% if page_num == 1 %}active{% endif %}" 
                                        id="tab-{{ page_num }}" 
                                        data-bs-toggle="tab" 
                                        data-bs-target="#page-{{ page_num }}" 
                                        type="button" 
                                        role="tab" 
                                        aria-controls="page-{{ page_num }}" 
                                        aria-selected="{{ 'true' if page_num == 1 else 'false' }}">
                                        Page {{ page_num }}
                                    </button>
                                </li>
                                {% endfor %}
                            </ul>
                            <div class="tab-content mt-3 px-2" id="bookingstabcontent">
                                {% for page_num in range(1, paginated_open_bookings|length + 1) %}
                                <div 
                                    class="tab-pane fade {% if page_num == 1 %}show active{% endif %}" 
                                    id="page-{{ page_num }}" 
                                    role="tabpanel" 
                                    aria-labelledby="tab-{{ page_num }}">
                                    <table class="table shadow-lg">
                                        <thead>
                                            <tr >
                                                <th>Plan Name</th>
                                                <th>Professional Name</th>
                                                <th>Email</th>
                                                <th>Phone</th>
                                                <th>Status</th>
                                                <th>Manage</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% set page = paginated_open_bookings[page_num - 1] %}
                                            {% for booking in page %}
                                                <tr>
                                                    <td>
                                                        <div class="d-flex align-items-center justify-content-between">
                                                            <div class="d-flex align-items-center">
                                                                <div class="rounded-circle d-flex align-items-center justify-content-center bg-light" style="width: 40px; height: 40px;">
                                                                    <img src="{{booking.service_plan.planimg}}" class="img-fluid" style="width: 30px; height: 30px;">
                                                                </div>
                                                                <p class="ms-2 mb-0">{{ booking.service_plan.name }}</p>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>{{booking.professional.name }}</td>
                                                    <td>{{booking.professional.email }}</td>
                                                    <td>{{booking.professional.phone}}</td>
                                                    <td>{{booking.status}}</td>
                                                    <td>
                                                        <a href="/dashboard/booking/{{booking.id}}"><button class="btn btn-outline-warning">View</button></a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                {% endfor %}
                            </div>
                            {% else %}
                            <div class="d-flex justify-content-center">
                                <p class="py-4">You have No open Booking</p>
                            </div>
                            {% endif %}
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-requested-bookings" role="tabpanel" aria-labelledby="pills-requested-bookings-tab" tabindex="0">
                            <div class="card shadow-lg mt-3 border-0">
                            {% if paginated_requested_bookings %}
                                <ul class="nav nav-tabs px-2" id="bookingsTabs" role="tablist">
                                    {% for page_num in range(1, paginated_requested_bookings|length + 1) %}
                                    <li class="nav-item" role="presentation">
                                        <button 
                                            class="nav-link {% if page_num == 1 %}active{% endif %}" 
                                            id="tab-{{ page_num }}" 
                                            data-bs-toggle="tab" 
                                            data-bs-target="#page-{{ page_num }}" 
                                            type="button" 
                                            role="tab" 
                                            aria-controls="page-{{ page_num }}" 
                                            aria-selected="{{ 'true' if page_num == 1 else 'false' }}">
                                            Page {{ page_num }}
                                        </button>
                                    </li>
                                    {% endfor %}
                                </ul>
                                <div class="tab-content mt-3 px-2" id="bookingstabcontent">
                                    {% for page_num in range(1, paginated_requested_bookings|length + 1) %}
                                    <div 
                                        class="tab-pane fade {% if page_num == 1 %}show active{% endif %}" 
                                        id="page-{{ page_num }}" 
                                        role="tabpanel" 
                                        aria-labelledby="tab-{{ page_num }}">
                                        <table class="table shadow-lg">
                                            <thead>
                                                <tr >
                                                    <th>Plan Name</th>
                                                    <th>Professional Name</th>
                                                    <th>Email</th>
                                                    <th>Phone</th>
                                                    <th>Status</th>
                                                    <th>Manage</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% set page = paginated_requested_bookings[page_num - 1] %}
                                                {% for booking in page %}
                                                <tr>
                                                    <td>
                                                        <div class="d-flex align-items-center justify-content-between">
                                                            <div class="d-flex align-items-center">
                                                                <div class="rounded-circle d-flex align-items-center justify-content-center bg-light" style="width: 40px; height: 40px;">
                                                                    <img src="{{booking.service_plan.planimg}}" class="img-fluid" style="width: 30px; height: 30px;">
                                                                </div>
                                                                <p class="ms-2 mb-0">{{ booking.service_plan.name }}</p>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>{{booking.professional.name }}</td>
                                                    <td>{{booking.professional.email }}</td>
                                                    <td>{{booking.professional.phone}}</td>
                                                    <td>{{booking.status}}</td>
                                                    <td>
                                                        <a href="/dashboard/booking/{{booking.id}}"><button class="btn btn-outline-warning">View</button></a>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <div class="d-flex justify-content-center">
                                    <p class="py-4">You have no Requested Booking.</p>
                                </div>
                            {% endif %}
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-closed-bookings" role="tabpanel" aria-labelledby="pills-closed-bookings-tab" tabindex="0">
                            <div class="card shadow-lg mt-3 border-0">
                            {% if paginated_closed_bookings %}
                            <ul class="nav nav-tabs px-2" id="bookingsTabs" role="tablist">
                                {% for page_num in range(1, paginated_closed_bookings|length + 1) %}
                                <li class="nav-item" role="presentation">
                                    <button 
                                        class="nav-link {% if page_num == 1 %}active{% endif %}" 
                                        id="tab-{{ page_num }}" 
                                        data-bs-toggle="tab" 
                                        data-bs-target="#page-{{ page_num }}" 
                                        type="button" 
                                        role="tab" 
                                        aria-controls="page-{{ page_num }}" 
                                        aria-selected="{{ 'true' if page_num == 1 else 'false' }}">
                                        Page {{ page_num }}
                                    </button>
                                </li>
                                {% endfor %}
                            </ul>
                            <!-- Tab Content -->
                            <div class="tab-content mt-3 px-2" id="bookingstabcontent">
                                {% for page_num in range(1, paginated_closed_bookings|length + 1) %}
                                <div 
                                    class="tab-pane fade {% if page_num == 1 %}show active{% endif %}" 
                                    id="page-{{ page_num }}" 
                                    role="tabpanel" 
                                    aria-labelledby="tab-{{ page_num }}">
                                    <table class="table shadow-lg">
                                        <thead>
                                            <tr >
                                                <th>Plan Name</th>
                                                <th>Professional Name</th>
                                                <th>Email</th>
                                                <th>Phone</th>
                                                <th>Status</th>
                                                <th>Manage</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% set page = paginated_closed_bookings[page_num - 1] %}
                                            {% for booking in page %}
                                                <tr>
                                                    <td>
                                                        <div class="d-flex align-items-center justify-content-between">
                                                            <div class="d-flex align-items-center">
                                                                <div class="rounded-circle d-flex align-items-center justify-content-center bg-light" style="width: 40px; height: 40px;">
                                                                    <img src="{{booking.service_plan.planimg}}" class="img-fluid" style="width: 30px; height: 30px;">
                                                                </div>
                                                                <p class="ms-2 mb-0">{{ booking.service_plan.name }}</p>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>{{booking.professional.name }}</td>
                                                    <td>{{booking.professional.email }}</td>
                                                    <td>{{booking.professional.phone}}</td>
                                                    <td>{{booking.status}}</td>
                                                    <td>
                                                        <a href="/dashboard/booking/{{booking.id}}"><button class="btn btn-outline-warning">View</button></a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                {% endfor %}
                            </div>
                            {% else %}
                            <div class="d-flex justify-content-center">
                                <p class="py-4">You have no closed Booking</p>
                            </div>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            </div>
        </div>
        {% elif cu.status=="Blocked" %}
        <div class="card">
            <div class="card-body">
                <p>Your accoud has been blocked by admin</p>
            </div>
        </div>
        {% endif %}
    </main>
{% endblock %}